{% extends "base.html" %}
{% block content %}
	<div class="row center-align">
    <!--500 error container-->
    <div class="col s12 m8 offset-m2">
        <div class="card-panel red lighten-5">
            <!--Troubleshoot Icon-->
            <div class="row">
                <div class=" col s12 m8 offset-m2">
                    <i class="troubleshoot-icon material-icons prefix">troubleshoot</i>

                </div>
            </div>

            <!--500 error text-->
            <div class="row">
                <div class="row valign-wrapper">
                    <div class="col s12 m8 offset-m2">
			            <h4 class=”error500_header”>
                            Oh no!
			                <br>
			                Something went wrong!
                        </h4>
                    </div>
                </div>

                <div class="row valign-wrapper">
                    <div class="col s12 m8 offset-m2">
			            <p class=”error500_header”>We apologize for the inconvenience. Please try again later.</p>
                    </div>
                </div>

            </div>


            <!--Redirection to Login page-->
            <div class="row center-align">
                <a class="col s12 m4 offset-m4  waves-effect waves-light btn-large pink accent darken-2">
                    Go to Login page
                </a>
            </div>


        </div>
    </div>

    
{% endblock %}

