{% extends "base.html" %}
{% block header %} Add project {% endblock %}
{% block content %}

<div class="row">
    <!--Form to add project-->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_project') }}">
        <div class="card-panel row red lighten-5">
            <div class="row">
              <!--Project name input field-->   
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">content_paste</i>
                    <input id="projectname" name="projectname" type="text" maxlength="30" class="validate" required>
                    <label for="projectname">Project name <span>*</span></label>
                </div>
            </div>

            <!--Category input field-->
            <div class="input-field col s10 m8 offset-m2">
                <i class="material-icons prefix">category</i>
                <select id="category" name="category" required>
                    <option value=""  disabled selected>Choose your option</option>
                    {% for category in categories %}
                      <option  value={{category}}>{{ category }}</option>
                    {% endfor %}
                  </select>
                <label>Category <span>*</span></label>
              </div>

              <!--Fabric type input field-->
              <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">dry_cleaning</i>
                    <input id="fabrictype" name="fabrictype" type="text" class="validate" required>
                    <label for="fabrictype">Fabric type <span>*</span></label>
                </div>
            </div>

            <!--Fabri quantity input field-->
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">straighten</i>
                    <input id="fabricquantity" name="fabricquantity" type="text" class="validate" required>
                    <label for="fabricquantity">Fabric Quantity (in cm) <span>*</span></label>
                </div>
            </div>

            <!--Other materials input field-->
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">square_foot</i>
                  <input id="othermaterials" name="othermaterials" type="text" class="validate" required>
                  <label for="othermaterials">Other materials <span>*</span></label>
                </div>
            </div>

            <!--Sewing time input field-->
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                <i class="material-icons prefix">timer</i>
                  <input id="sewingtime" name="sewingtime" type="text" class="validate" required>
                  <label for="sewingtime">Sewing time (in minutes) <span>*</span> </label>
                </div>
            </div>

            <!--Sewing tip input field-->
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">create</i>
                  <input id="sewingtip" name="sewingtip" type="text" class="validate" required>
                  <label for="sewingtip">Sewing tip <span>*</span></label>
                </div>
            </div>

            <!--Instructions input field-->            
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">create</i>
                  <input id="instructions" name="instructions" type="text" class="validate" required>
                  <label for="instructions">Instructions <span>* </span></label>
                  <span class="helper-text" data-error="wrong" data-success="right">(separate steps with a full-stop "." )</span>
                
                </div>
            </div>

            <!--Photo one input field-->
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">image</i>
                  <input id="photourl" name="photourl" type="text" class="validate" required>
                  <label for="photourl">Photo URL <span>*</span></label>
                </div>
            </div>

          <!--Photo two input field-->
           <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">image</i>
                  <input id="secondaryphotourl" name="secondaryphotourl" type="text" class="validate" required>
                  <label for="secondaryphotourl">Second Photo URL <span>*</span></label>
                </div>
            </div>
        




            <!--Submit and reset button-->
            <div class="row">
                <button type="submit" value=" register"
                    class="col s12 m3 offset-m3  waves-effect waves-light btn-large pink accent darken-2">
                    Add project
                    <i class="material-icons right">add_circle</i>
                </button>

                <a href="{{ url_for('my_projects') }}" class="col s12 m3 waves-effect waves-light btn-large center-align pink accent darken-2">
                  Back
                  <i class="material-icons right center-align">arrow_back</i>
                </a>
            </div>


        </div>
    </form>
</div>

{% endblock %}