<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Imports Icons from Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Imports Materialize for responsive CSS framework-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">

    <!--Links local style.css file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">


    <title>Sewing Squad</title>
</head>
<body>
    <header>
        <nav>
            <!--Nav bar on larger screens-->
            <div class="nav-wrapper pink accent darken-2">
                <a href="{{ url_for('landing_page') }}" class="left brand-logo">Logo</a>
                <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                    <!--{% if session.user %}-->
                    <li><a href="{{ url_for('my_projects') }}">My Projects</a></li>
                    <li><a href="{{ url_for('add_project') }}">Add projects</a></li>
                    <!--{% else %}-->
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <!--{% endif %}-->
                </ul>
            </div>
        </nav>

            
        <!--Nav bar on mobile device screens-->
        <ul class="sidenav" id="slide-out">
            <li><a href="{{ url_for('landing_page') }}">Home</a></li>
            <li><a href="{{ url_for('my_projects') }}">My Projects</a></li>
            <li><a href="{{ url_for('add_project') }}">Add projects</a></li>
            <li><a href="{{ url_for('login') }}">Log In </a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>

    </header>

    <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flash">
                        <h4>{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif%}
        {% endwith %}
    </section>  
   
    <section>
        <h3 class="center-align">{% block header %} All Patterns {% endblock %}</h3>
    </section>

    <main class="container">
        {% block content%}.
        {% endblock %}
    </main>

    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>