{% extends "base.html" %}
{% block header %} Edit projects {% endblock %}
{% block content %}

<div class="row">
    <!--Form to add project-->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_project', sewingwork_id=project.id) }}">
      <div class="card-panel row red lighten-5">
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">content_paste</i>
                    <input id="projectname" name="projectname" type="text"  maxlength="30" value="{{ project.project_name.capitalize() }}" class="validate" required>
                    <label for="projectname">Project name <span>*</span></label>
                </div>
            </div>

            <div class="input-field col s10 m8 offset-m2" required>
                <i class="material-icons prefix">category</i>
                <select id="category" name="category" type="text">
                    <option value="{{ project.category }}" selected>{{ project.category.capitalize() }}</option>
                    {% for category in categories %}
                      <option value={{category}}>{{category }}</option>
                    {% endfor %}
                </select>
                <label>Category <span>*</span></label>
              </div>

              <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">dry_cleaning</i>
                    <input id="fabrictype" name="fabrictype" type="text" value="{{ project.fabric_type.capitalize() }}" class="validate" required>
                    <label for="fabrictype">Fabric type <span>*</span></label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">straighten</i>
                    <input id="fabricquantity" name="fabricquantity" value="{{ project.fabric_quantity }}"  type="text" class="validate" required>
                    <label for="fabricquantity">Fabric Quantity (in cm) <span>*</span></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">square_foot</i>
                  <input id="othermaterials" name="othermaterials" value="{{ project.other_materials.capitalize() }}" type="text" class="validate" required>
                  <label for="othermaterials">Other materials <span>*</span></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                <i class="material-icons prefix">timer</i>
                  <input id="sewingtime" name="sewingtime" value="{{ project.sewing_time}}" type="text" class="validate" required>
                  <label for="sewingtime">Sewing time (in minutes) <span>*</span></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">create</i>
                  <input id="sewingtip" name="sewingtip" value="{{ project.sewing_tip.capitalize() }}"  type="text" class="validate" required>
                  <label for="sewingtip">Sewing tip <span>*</span></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">create</i>
                  <input id="instructions" name="instructions" value="{{ project.instructions.capitalize() }}" type="text" class="validate" required>
                  <label for="instructions">Instructions <span>* </span></label>
                  <span class="helper-text" data-error="wrong" data-success="right">(separate steps with a full-stop "." )</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">image</i>
                  <input id="photourl" name="photourl" value="{{ project.photo_URL }}" type="text" class="validate" required>
                  <label for="photourl">Photo URL <span>*</span></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">image</i>
                  <input id="secondaryphotourl" name="secondaryphotourl" value="{{ project.secondaryphoto_URL }}" type="text" class="validate" required>
                  <label for="secondaryphotourl">Photo URL <span>*</span></label>
                </div>
            </div>



            <!--Submit and reset button-->
            <div class="row">
                <button type="submit" value="register"
                    class="col s12 m3 offset-m3  waves-effect waves-light btn-large pink accent darken-2">
                    Edit project
                    <i class="material-icons right">edit_note</i>
                </button>

                <a href="{{ url_for('my_projects') }}" class="col s12 m3 waves-effect waves-light btn-large center-align pink accent darken-2">
                    Back
                    <i class="material-icons right center-align">arrow_back</i>
                </a>
            </div>


        </div>
      </div>
    </form>

{% endblock %}