{% extends "base.html" %}
{% block header %} Edit projects {% endblock %}
{% block content %}

<div class="card-panel row">
    <!--Form to add project-->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_project', sewingwork_id=project.id) }}">
            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">content_paste</i>
                    <input id="projectname" name="projectname" type="text" value="{{ project.project_name }}" class="validate" required>
                    <label for="projectname">Project name</label>
                </div>
            </div>

            <div class="input-field col s10 m8 offset-m2" required>
                <select id="category" name="category" type="text">
                    <option value="" disabled>{{ project.category }}</option>
                    <option value="Winter clothes">Winter Clothes</option>
                    <option value="Summer clothes">Summer Clothes</option>
                    <option value="Trousers">Trousers</option>
                    <option value="Shirts">Shirts</option>
                    <option value="Tops">Tops</option>
                    <option value="Dresses">Dresses</option>
                    <option value="Wedding Dresses">Wedding Dresses</option>
                    <option value="Skirts">Skirts</option>
                    <option value="Shorts">Shorts</option>


                </select>
                <label>Category</label>
              </div>

              <div class="input-field col s12 m8 offset-m2">
                <select multiple id="fabrictype" name="fabrictype" type="text" required>
                  <option value="" disabled selected>{{ project.fabric_type }}</option>
                  <option value="Cotton">Cotton</option>
                  <option value="Polyester">Polyester</option>
                  <option value="Silk">Silk</option>
                  <option value="Wool">Wool</option>
                  <option value="Nylon">Nylon</option>
                  <option value="Rayon">Rayon</option>
                  <option value="Linen">Linen</option>
                  <option value="Denim">Denim</option>
                  <option value="Fleece">Fleece</option>
                </select>
                <label>Fabric type</label>
              </div>


            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                    <i class="material-icons prefix">straighten</i>
                    <input id="fabricquantity" name="fabricquantity" value="{{ project.fabric_quantity }}"  type="text" class="validate" required>
                    <label for="fabricquantity">Fabric Quantity (in cm)</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">square_foot</i>
                  <input id="othermaterials" name="othermaterials" value="{{ project.other_materials }}" type="text" class="validate" required>
                  <label for="othermaterials">Other materials</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                <i class="material-icons prefix">timer</i>
                  <input id="sewingtime" name="sewingtime" value="{{ project.sewing_time}}" type="text" class="validate" required>
                  <label for="sewingtime">Sewing time (in minutes) </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">create</i>
                  <input id="sewingtip" name="sewingtip" value="{{ project.sewing_tip}}"  type="text" class="validate" required>
                  <label for="sewingtip">Sewing tip</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10 m8 offset-m2">
                  <i class="material-icons prefix">image</i>
                  <input id="photourl" name="photourl" value="{{ project.photo_URL }}" type="text" class="validate" required>
                  <label for="photourl">Photo URL</label>
                </div>
            </div>




            <!--Submit and reset button-->
            <div class="row">
                <button type="submit" value="register"
                    class="col s12 m3 offset-m3  waves-effect waves-light btn-large pink accent darken-2">
                    Edit project
                    <i class="material-icons right">edit_note</i>
                </button>

                <a href="{{ url_for('my_projects') }}" class="col s12 m3 waves-effect waves-light btn-large center-align pink accent darken-2">
                    Back
                    <i class="material-icons right center-align">arrow_back</i>
                </a>
            </div>


        </div>
    </form>

    <!--Link to Log in Page for registered users-->
    <div class="col s12 m12 center-align">
        <p>
            Already Registered?
        <p>
            <a href="{{ url_for('login') }}" alt=>Log In</a>
    </div>
</div>

{% endblock %}