{% extends "base.html" %}
{% block header %} All projects {% endblock %}
{% block content %}

    <!--Card with the added project-->
        <div class="row">
            {% for post in all_projects %}
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ post.photo_URL }}">   
                    </div>

                    <div class="card-content">
                        <span class="card-title">{{ post.project_name}}</span>
                        <p>Time: {{ post.sewing_time }}</p>
                        <p>Fabric type: {{ post.fabric_type}}</p>
                        <p>Fabric quantity: {{ post.fabric_quantity }}</p>
                        <p>Fabric quantity: {{ post.fabric_quantity }}</p>
                    </div>
                

                    <div class="card-action">
                        <!--Add to favourite button-->
                        <a href="{{ url_for('landing_page')}}"aria-label="Add to favourites button">
                            <i class="material-icons left">favorite_border</i>
                        </a>
                        <!--<a href="{{ url_for('landing_page')}}"aria-label="Add to favourites button" class="right collapsible">
                             comments
                            <i class="material-icons">expand_more</i>
                        </a>-->

                    <span>
                        <i class="material-icons right collapsible">expand_more</i>
                    </span>    

                        <ul class="collapsible">
                            <li>
                              <div class="right collapsible-header"><i class="material-icons">expand_more</i></div>
                              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                            <li>
                        </ul>

                    </div>

                    <!--<ul >
                        <li>
                          <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                      </ul>-->


                </div>
            </div>
            {% endfor %}
          
        </div>
   

{% endblock %}
    
