{% extends "base.html" %}
{% block header %} My projects {% endblock %}
{% block content %}

    <div class="row">
        <div class="center-align s12 m4">
            <a href="{{ url_for('add_project')}}" class="btn pink accent darken-2">
                Add project
                <i class="material-icons right">add_circle</i> 
            </a>
        </div>

    </div>


    <div class="row">
        <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                <img src="https://i.etsystatic.com/27858598/r/il/bae5f9/4449790698/il_600x600.4449790698_k8z2.jpg">
                <span class="card-title">Card Title</span>
            </div>

            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>

            <div class="card-action">
                <a href="#" class="btn">This is a link</a>
                <a href="#" class="btn">This is a link</a>
            </div>
        </div>
        </div>

        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.etsystatic.com/26071885/r/il/921fbc/3905010345/il_600x600.3905010345_l0w3.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
               </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.etsystatic.com/23963756/r/il/013a9b/4098238727/il_600x600.4098238727_6x3g.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.etsystatic.com/24863076/r/il/a26590/4392150300/il_600x600.4392150300_i5np.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        
    </div>
    
{% endblock %}