{% extends "base.html" %}
{% block header %} Login {% endblock %}
{% block content %}


<div class="row">
    <!--Registration form-->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel red lighten-5">
            <!--Username input field-->
            <div class="row">
                <div class="input-field col s11 m8 offset-m2">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username" class="required">Username</label>

                </div>
            </div>

            <!--Password input field-->
            <div class="row">
                <div class="row valign-wrapper">
                    <div class="input-field col s11 m8 offset-m2">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                        <span class="helper-text valign" data-error="wrong" data-success="right">

                        </span>
                    </div>
                    <span>
                        <i class="material-icons prefix helper-text" data-position="left"
                        data-tooltip="Pasword must be between 5 -10 characters long. Allowed characters: a-z A-Z 0-9+">info_outline</i>
                    </span>

                </div>
            </div>


            <!--Submit and reset button-->
            <div class="row">
                <button type="submit" value=" login"
                    class="col s12 m3 offset-m3  waves-effect waves-light btn-large pink accent darken-2">Log In
                    <i class="material-icons right">login</i>
                </button>

                <button type="reset"
                    class="col s12 m3 waves-effect waves-light btn-large center-align pink accent darken-2">Clear
                    <i class="material-icons right center-align">backspace</i>
                </button>
            </div>


        </div>
    </form>

    <!--Link to Log in Page for registered users-->
    <div class="col s12 m12 center-align">
        <p>
            Already a Member?
        <p>
            <a href="{{ url_for('register') }}" alt=>Register</a>
    </div>
</div>

{% endblock %}
</section>