{% extends "base.html" %}
{% block header %} {{ this_project.project_name.capitalize()}} {% endblock %}
{% block content %}

    <!--Card with the added project-->
    <div >
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="col s12 m6">
                        <div class="carousel carousel-slider center">
                            <div class="carousel-fixed-item center">
                                <a class="btn waves-effect pink-color-light carousel-button-next right next"><i class="material-icons prefix">navigate_next</i></a>
                                <a class="btn waves-effect pink-color-light carousel-button-prev left prev"><i class="material-icons prefix">chevron_left</i></a>
                            </div>
                            <div class="carousel-item red white-text" href="#one!">
                              <img src="{{ this_project.photo_URL }}">
                            </div>
                            <div class="carousel-item amber white-text" href="#two!">
                              <img src="{{ this_project.secondaryphoto_URL }}">
                            </div>
                          </div>                        
                    </div>
                    
                    <div class="col s12 m6">
                        <div class="card-content col s12 m12">
                            <span class="card-title">{{ this_project.project_name.capitalize() }}</span>
                            <p><span class="text-space">Time:</span> {{ this_project.sewing_time }} minutes</p>
                            <p><span class="text-space">Category:</span> {{ this_project.category.capitalize() }}</p>
                            <p><span class="text-space">Fabric type:</span> {{ this_project.fabric_type.capitalize() }}</p>
                            <p><span class="text-space">Fabric quantity:</span> {{ this_project.fabric_quantity }} cm</p>

                            <br>
                            <p><span class="text-space"><strong>Sewing tip:</span></strong>{{ this_project.sewing_tip }}</p>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card-content">
                    <h3>Instructions</h3>
                    <ol>
                        {% for line in this_project.instructions.split(",") %}
                            <li>{{ line.capitalize() }}</li>
                        {% endfor %}
                    </ol>
                    
                 </div>
            </div>
          
        </div>

        {% if session[user]== aladdin %} 
        <div class="row center-align">
            <div class="col s12 center-align">
  
                <div class="col s12 m12">
                        <!--Return to my projects page-->
                        <a href="{{ url_for('home') }}" class="btn pink accent darken-2" aria-label="Go to home page">View all projects</a>
                </div>   
                    
            </div>
        </div>
        {% endif %} 

            <div class="row">
                <div class="col s12 m12 center-align">
                    <div class="col s12 m12">
                        <!--Return to my projects page-->
                        <a href="{{ url_for('my_projects') }}" class="btn pink accent darken-2" aria-label="Go to my projects page">View My Projects</a>
                    </div>
                </div>

            </div>
     


        <div class="row">

            <div class="row">
                <!--Comment section -->
                <div class="row s12 m12">
                    <div class="card-content col s12 m6">
                        <h3>Comments</h3>

                        {% for comment in this_project.works_comments %}
                        <div class="row valign-wrapper no-bottom-margin">
                            <i class="material-icons prefix col s1" id="comment-person-icon">account_circle</i> 
                            <p  id="comment-by"><strong>   
                                {{comment.users.username.title() }}:</strong>
                            </p>
                        </div>

                        <div class="row comment-text">
                            <p>"{{ comment.comment }}"</p> 
                            <br>
                        </div>
                        {% endfor %}

                    </div>
             
                </div>
            </div>

            <div class="row">
            <!--Add comment -->
                <form class="col s12 " method="POST" action="{{ url_for('add_comment', sewingwork_id=this_project.id) }}">
                    <div class="card-panel row red lighten-5">
                        <div class="row">
                            <div class="input-field col s12 ">
                                <textarea id="comment" name="comment" type="text" rows="4" cols="50" class="validate"></textarea>
                                <label for="comment">Add your comment here</label>
                            </div>
                        </div>

                        
                        <div class="row">
                            <button type="submit" value=" register"
                                class="col s12 m3 offset-m3  waves-effect waves-light btn-large pink accent darken-2">
                                Add comment
                                <i class="material-icons right">add_circle</i>
                            </button>

                            <button type="reset"
                                class="col s12 m3 waves-effect waves-light btn-large center-align pink accent darken-2">
                                Clear
                                <i class="material-icons right center-align">backspace</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
{% endblock %}