{% extends "base.html" %}
{% block header %} {{ this_project.project_name.capitalize()}} {% endblock %}
{% block content %}

    <!--Card with the added project-->
    <div class="card-panel">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image col s12 m6">
                        <img src="{{ this_project.photo_URL }}">   
                    </div>

                    <div class="card-content col s12 m6">
                        <span class="card-title">{{ this_project.project_name}}</span>
                        <p>{{ this_project.sewing_tip }}</p>
                    </div>


                </div>
            </div>
          
        </div>


        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="col s12 m6">
                        <h2>Instructions</h2>
                        <p>Placeholder</p>
                        
                    </div>

                </div>
            </div>
          
        </div>

        <div class="row">
            <div class="col s12 m12 center-align">
                {% if session.user == this_project.users.username %}
                <div class="col s12 m6">                  
                    <!--Edit button-->
                    <a href="{{ url_for('edit_project', sewingwork_id=this_project.id) }}" class="btn" aria-label="Edit Project">Edit</a>
                 </div>    
                {% else %}
                <div class="col s12 m12">
                        <!--Return to my projects page-->
                        <a href="{{ url_for('landing_page') }}" class="btn" aria-label="View My Projects">Back to home page</a>
                </div>   
                    
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 center-align">
                 <div class="col s12 m12">
                    <!--Return to my projects page-->
                    <a href="{{ url_for('my_projects') }}" class="btn" aria-label="Go to my projects page">Go to my projects page</a>
                 </div>
            </div>

        </div>
   </div>


   

{% endblock %}