body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav{
  background-color: rgba(252, 131, 131,0.9);
}

.sidenav{
  background-color: rgba(252, 131, 131,0.9);
}

.header{
  background:url("../images/background.PNG");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  
}

.header-title{
  width: 100%;
  min-height:55vh;
}

.title-container{
  background-color:  rgba(252, 131, 131,0.9);  
  margin-bottom: 10px;
  border-radius: 25px;
}


main {
  flex: 1 0 auto;
}


.flashes h4 {
  line-height: 3;
}

.horizontal-list{
  display: flex;
}

