body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  }

.header{
  width: 100%;
  min-height:60vh;
  background-color: #f25278;
  background:url("../images/background.PNG");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}


.flashes h4 {
  line-height: 3;
}

.horizontal-list{
  display: flex;
}

